<div class="sidebar p-5 shadow-2 border-round-xl surface-card h-full flex flex-column justify-content-between">
  <div class="top-buttons flex flex-column gap-3">
    <button class="sidebar-btn">
      <span class="material-icons text-orange-500">wb_sunny</span>
      <span class="text-xl label">Weather</span>
    </button>
    <button class="sidebar-btn">
      <span class="material-icons text-orange-500">home</span>
      <span class="text-xl label">Home</span>
    </button>
  </div>

  <div class="bottom-button">
    <button class="sidebar-btn">
      <span class="material-icons text-gray-600">person</span>
      <span class="text-xl label">Hello, User</span>
    </button>
  </div>
</div>
